h3 {
    color:darkblue;
}

.example{

    margin: 15px;
    font-size: 14px;
    color: #656666;
    content: "Example";
      
    background-color: #fff;
    border-color: #929494;
    border-width: 1px;
    border-radius: 4px;
    
    padding: 10px 20px 10px;
    border-style: solid;
    }
    
    .form-control-feedback{
      display: none;
    }