

body {
  font-family: "Trebuchet MS";
}

h4{
    font-weight: bold;
    color: #2D183F;
    font-family: "Trebuchet MS";
}

h3 {
  font-size: 20px;
  color:#7B67A4;
  font-family: "Trebuchet MS";
}

h1{
  font-size: 13px;
  color:#7B67A4; 
  font-family: "Trebuchet MS";
}

h6{
font-size: 12px;
font-family: "Trebuchet MS";
color: red;

}
p {
  color: #999;
}

strong {
  color: #333;
}

#wrapper {
  width: 80%;
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 30px 0;
}



.page-head-image img {
  border-radius: 50%;
}

#form-trabalhe {
  margin-top: 30px;
  text-align: left;
}

label {
  font-weight: normal;
  margin-top: 15px;
  font-family: "Trebuchet MS";
}

input {
  border: 2px solid #7B67A4 !important;
  height: 45px;
  border-radius: 5px;
  max-width: 100%;
}

.input-group-addon {
  border: 2px solid #7B67A4 !important;
  border-right: 0px !important;
}

#login {
  border: 0;
  border-radius: 5px;
  margin-top: 20px;
  background-color: #D21E67;
  font-family: "Trebuchet MS";
  margin-left: 20%;
 width: 60%;
}


#login:hover {
    opacity: 0.8; 
  }

#login:active {
  background-color: #D21E67;
  
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.form-group {
  margin-bottom: 0;
  text-align: left;
}

a{
  color: #7B67A4 ;
  font-size:12px;
}

.form-control-feedback{
  color:green;
  margin-top: 20px;
}



  